extends _base

block _head
	meta(name="author", content="Marais Rossouw")
	meta(name="description", content=SITE.description)
	meta(name="keywords", content=SITE.keywords)

	meta(property="fb:app_id", content="637229486452272")

	meta(property="og:url", content=DOMAIN)
	meta(property="og:title", content=SITE.title)
	meta(property="og:site_name", content="Marais Rossouw")
	meta(property="og:description", content=SITE.description)
	meta(property="og:image", content=DOMAIN + "img/generic.jpg")
	meta(property="og:type", content="website")
	meta(property="og:locale", content="en_US")

	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:site", content="@codervandal")
	meta(name="twitter:title", content=SITE.title)
	meta(name="twitter:description", content=SITE.description)
	meta(name="twitter:creator", content="@codervandal")
	meta(name="twitter:image", content=DOMAIN + "img/generic.jpg")

	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black")

	link(href=DOMAIN, rel="canonical")

block _head_end
	link(href="main.js", rel="dns-prefetch", crossorigin)
	link(href="//cdn.ravenjs.com", rel="dns-prefetch", crossorigin)
	link(href="//sentry.io", rel="dns-prefetch", crossorigin)
	link(href="//ws.audioscrobbler.com", rel="dns-prefetch", crossorigin)
	link(href="//www.google-analytics.com", rel="dns-prefetch", crossorigin)
	link(href="//connect.facebook.net", rel="dns-prefetch", crossorigin)

	script(type="application/ld+json")
		include meta/person.json

	script(async, defer).
		'use strict';
		!function (b, d, f, g, h, i, j) {
			b.GoogleAnalyticsObject = h, b[h] = b[h] || function () {
					(b[h].q = b[h].q || []).push(arguments)
				}, b[h].l = 1 * new Date, i = d.createElement(f), j = d.getElementsByTagName(f)[0], i.async = 1, i.src = g, j.parentNode.insertBefore(i, j)
		}(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");

		!function (a, c, d, g, h, i, j) {
			a.fbq || (h = a.fbq = function () {
				h.callMethod ? h.callMethod.apply(h, arguments) : h.queue.push(arguments)
			}, !a._fbq && (a._fbq = h), h.push = h, h.loaded = !0, h.version = '2.0', h.queue = [], i = c.createElement(d), i.async = !0, i.src = g, j = c.getElementsByTagName(d)[0], j.parentNode.insertBefore(i, j))
		}(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js');

block _body
	header.site__header
		.logo
			h1 Marais
				span .
			p codes beautiful things.

		nav.navigation(role="navigation")
			ul
				li
					a(href="#about", scroll-to) About
				li
					a(href="#experience", scroll-to) Experience
				li
					a(href="#skills", scroll-to) Skills
				li
					a(href="mailto:" + FRESH.contact.email, rel="nofollow")=FRESH.contact.email

	main.site__main
		block body

	footer.site__footer.footer
		.footer__quote
			q=SITE.quote.text
			small=SITE.quote.by

		.footer__social
			include partials/_social

		.footer__imprint
			p Copyright &copy;&nbsp;
				time(datetime=moment.tz(LOC).startOf('year').format())=moment.tz(LOC).format('YYYY')
				//span -
				//button.imprint-toggle Imprint

		.footer__cross
			+icon("Christian Cross", "cross")

	//include partials/_imprint

	include meta/icons.svg

	script(src="main.js", defer)
