include partials/_mixins

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=9;IE=10;IE=Edge,chrome=1")

		title Marais Rossouw | Creative Enthusiast

		meta(name="description", content=SITE.description)

		meta(property="fb:app_id", content="637229486452272")

		meta(property="og:url", content=DOMAIN)
		meta(property="og:title", content=SITE.title)
		meta(property="og:description", content=SITE.description)
		meta(property="og:site_name", content="Marais Rossouw")
		meta(property="og:image", content=DOMAIN + "img/generic.jpg")
		meta(property="og:type", content="website")
		meta(property="og:locale", content="en_US")

		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@codervandal")
		meta(name="twitter:title", content=SITE.title)
		meta(name="twitter:description", content=SITE.description)
		meta(name="twitter:creator", content="@codervandal")
		meta(name="twitter:image", content=DOMAIN + "img/generic.jpg")

		script(type="application/ld+json")
			include meta/person.json

		link(rel="home", href=DOMAIN)
		link(rel="canonical", href=DOMAIN)
		meta(name="referrer", content="always")

		link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
		link(rel="icon", href="img/favicon.png", type="image/png")

		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		link(href="main.css", rel="stylesheet")

		script(type="text/javascript", defer).
			!function (e, t, n, a, c, s, o) {
				e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
						(e[c].q = e[c].q || []).push(arguments)
					}, e[c].l = 1 * new Date, s = t.createElement(n), o = t.getElementsByTagName(n)[0], s.async = 1, s.src = a, o.parentNode.insertBefore(s, o)
			}(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

	body(dir="ltr", itemtype="WebSite")
		meta(itemprop="isFamilyFriendly", content="true")
		meta(itemprop="dateCreated", content="2016-09-02T13:03:06+10:00")
		meta(itemprop="dateModified", content=LASTMOD)
		meta(itemprop="copyrightYear", content=moment.tz(LOC).format('YYYY'))

		header.site__header
			.logo
				h1 Marais
					span .
				p I code beautiful things.

			nav.navigation(role="navigation")
				ul
					li
						a(href="#about", scroll-to) About
					li
						a(href="#experience", scroll-to) Experience
					li
						a(href="#skills", scroll-to) Skills
					li
						a(href="mailto:hi@marais.io", rel="nofollow") hi@marais.io

		main.site__main
			block body

		footer.site__footer.footer
			.footer__quote
				q By design we are all individually imperfect, but it's these very imperfections that shape us, and tell the story of who we are.

			.footer__social
				include partials/_social

			.footer__imprint
				p Copyright &copy;&nbsp;
					time(datetime=moment.tz(LOC).startOf('year').format()) #{moment.tz(LOC).format('YYYY')}
					//span -
					//button.imprint-toggle Imprint

			.footer__cross
				+icon("Christian Cross", "cross")

		//include partials/_imprint

		include meta/icons.svg

		script(type="text/javascript", src="main.js", defer)

