extends _base

block _head
	meta(name="author", content="Marais Rossouw")
	meta(name="description", content=SITE.description)
	meta(name="keywords", content=SITE.keywords)

	meta(property="fb:app_id", content="637229486452272")

	meta(property="og:url", content=DOMAIN)
	meta(property="og:title", content=SITE.title)
	meta(property="og:site_name", content="Marais Rossouw")
	meta(property="og:description", content=SITE.description)
	meta(property="og:image", content=DOMAIN + "img/generic.jpg")
	meta(property="og:type", content="website")
	meta(property="og:locale", content="en_US")

	meta(name="twitter:card", content="summary_large_image")
	meta(name="twitter:site", content="@codervandal")
	meta(name="twitter:title", content=SITE.title)
	meta(name="twitter:description", content=SITE.description)
	meta(name="twitter:creator", content="@codervandal")
	meta(name="twitter:image", content=DOMAIN + "img/generic.jpg")

	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black")

	link(href=DOMAIN, rel="canonical")

block _head_end
	link(href="main.js", rel="preconnect")

	script(type="application/ld+json")
		include meta/person.json

	script(type="text/javascript", defer="defer", async="async").
		!function (e, t, n, a, c, s, o) {
			e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
					(e[c].q = e[c].q || []).push(arguments)
				}, e[c].l = 1 * new Date, s = t.createElement(n), o = t.getElementsByTagName(n)[0], s.async = 1, s.src = a, o.parentNode.insertBefore(s, o)
		}(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");

block _body
	header.site__header
		.logo
			h1 Marais
				span .
			p codes beautiful things.

		nav.navigation(role="navigation")
			ul
				li
					a(href="#about", scroll-to) About
				li
					a(href="#experience", scroll-to) Experience
				li
					a(href="#skills", scroll-to) Skills
				li
					a(href="mailto:" + FRESH.contact.email, rel="nofollow")=FRESH.contact.email

	main.site__main
		#last-fm.last-fm(role="banner")

		block body

	footer.site__footer.footer
		.footer__quote
			q=FRESH.info.quote

		.footer__social
			include partials/_social

		.footer__imprint
			p Copyright &copy;&nbsp;
				time(datetime=moment.tz(LOC).startOf('year').format())=moment.tz(LOC).format('YYYY')
				//span -
				//button.imprint-toggle Imprint

		.footer__cross
			+icon("Christian Cross", "cross")

	//include partials/_imprint

	include meta/icons.svg

	script(type="text/javascript", src="main.js", defer="defer")
