extends ./_layout

block body

	#content-about.fold.fold-about(role="main")
		.fold__content
			.fold-about__body
				p
					| Hello! I'm
					span.highlight.no-right Marais Rossouw
					| , a
					span.highlight creative
					| and
					span.highlight application developer
					| with over
					span.highlight 6+ years
					| experience.

				p I'm based on the
					span.highlight.no-right Gold Coast
					| , Australia currently working as an application developer in the
					span.highlight.no-right airline industry
					| , and am highly influenced by developers such as Evan You and Sébastien Doeraene.

				.fold-about__social
					h4 You can find me here:
					include partials/_social


	#content-experience.fold.fold-experience
		.fold__content
			.experience
				h2.offset-heading Experience
				ul
					for job in FRESH.employment.history
						li.experience__item
							article
								header
									h4=job.position
									.experience__time
										+timeDif([job.start, job.end || 0])
								i.experience__company=job.employer
								p.experience__descr=job.summary


	#content-skills.fold.fold-skills
		.fold__content
			.fold-skills__body
				h2.offset-heading Skills
				ul.legend
					for item in _SKILLS.legend
						li(class="legend__item legend__item--" + item.level, level=item.level)=item.label

				ul.skills
					for skill in _SKILLS.list
						li(class="skills__item skills__item--" + skill.css, level=skill.css)
							small=skill.zone
							| #{skill.skill}
