extends ./_layout

mixin timeDif(range)
	+timeMix("MMMM YYYY", range[0])
	| -
	if range[1]
		+timeMix("MMMM YYYY", range[1])
	else
		span.time present

block body

	#content-about.fold.fold-about
		.fold__content
			.fold-about__body
				h2.offset-heading About
				p
					| Hello! I'm
					span.highlight.no-right Marais Rossouw
					| , a
					span.highlight creative
					| and
					span.highlight application developer
					| with over
					span.highlight 6+ years
					| experience.

				p I'm based on the
					span.highlight.no-right Gold Coast
					| , Australia currently working as an application developer in the
					span.highlight.no-right airline industry
					| , and am highly influenced by developers such as Evan You and Sébastien Doeraene.

				.fold-about__social
					h4 You can find me here:
					include meta/social


	#content-experience.fold.fold-experience
		.fold__content
			.experience
				h2.offset-heading Experience
				ul
					li.experience__item
						article
							header
								h4 Wordpress Developer
								.experience__time
									+timeDif(['2012-01-01', '2012-09-01'])
							i.experience__company Smart-SEO
							p.experience__descr Began my career as a PSD to Wordpress theme developer.

					li.experience__item
						article
							header
								h4 Software Engineer
								.experience__time
									+timeDif(['2013-03-01', '2014-01-01'])
							i.experience__company Vuly Trampolines
							p.experience__descr Later moveed onto be a creative developer for Australias leading trampoline company.

					li.experience__item
						article
							header
								h4 Technical Director
								.experience__time
									+timeDif(['2014-02-01', '2015-05-01'])
							i.experience__company 40/40 Creative
							p.experience__descr Led the company in all technical areas, establishing solid standards and technical direction.

					li.experience__item
						article
							header
								h4 Senior Software Engineer
								.experience__time
									+timeDif(['2015-06-01'])
							i.experience__company Touchpoint
							p.experience__descr Lead frontend developer driving and technical initiatives within the airline industry.


	#content-skills.fold.fold-skills
		.fold__content
			.fold-skills__body
				h2.offset-heading Here's what I'm good at:
				ul.legend
					for item in _SKILLS.legend
						li(class="legend__item legend__item--" + item.level, level=item.level) #{item.label}

				ul.skills
					for skill in _SKILLS.list
						li(class="skills__item skills__item--" + skill.css, level=skill.css)
							small #{skill.zone}
							| #{skill.skill}
